html {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.MuiBottomNavigation-root {
    background-color: #232323 !important;
}

.MuiBottomNavigationAction-root {
    color: rgba(255, 255, 255, 0.5) !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
    color: #bb86fc !important;
}

.MuiPaper-root.MuiAppBar-root {
    background-color: #121212 !important;
    box-shadow: none !important;
}

.gameBar {
    background-color: #121212 !important;
    box-shadow: none !important;
    opacity: 0;
}

.MuiTypography-h5 {
    font-weight: bold !important;
}

.MuiTypography-root.year{
    font-style: italic !important;
}

.MuiButton-root{
    background-color: #bb86fc !important;
    color: #121212 !important;
}

.uk-grid.slide-cover {
    margin-right: -50px;
  }

.cover {
    border-radius: 15px;
}


.game-logo{
    width: 250px;
}